<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">
        {{member}}
      </li>
    </ul>

    <div class="add-members-container">
      <input
       type="text"
       #addMemberInput
       placeholder="Name"
       (input)="onInput(addMemberInput.value)"
       [value]="newMemberName"
       />
      <button (click)="addMember()">Add</button>
    </div>

    <div class="input-container">
      <input
      type="text"
      placeholder="# of teams"
      #generateTeamsInput
      [value]="numberOfTeams"
      (input)="onTeamInput(generateTeamsInput.value)"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>

    <p *ngIf="errorMessage" class="error-msg">
      {{errorMessage}}
    </p>
  </div>

  <div class="container">
    <table *ngFor="let team of teams" class="table">

      <thead>
        <tr>
          <th></th>
          <th>Members</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let member of team">
          <td>{{member}}</td>
        </tr>

    </table>
  </div>
</div>
